<p>Wszystkie posty </p>
<p>Index strona </p>
<% @posts.each do |post| %>
  <h1><%= post.title %></h1>
  <p><%= post.text %><p>
  <p><%= post.user.email %></p>
    <p><%= link_to 'Show', post_path(post)%></p>
<% end %>
